<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> this makes the nav bar a slight colour background-->
<nav class="navbar navbar-expand-lg navbar-light"> <!-- The navbar-light gives the navbar a light theme -->
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">Q. Tuan Tran</a>

      <button class="navbar-toggler" 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav ml-auto mb-2 mb-lg-0"></ul>  This moves the nav to the left. ml stands for margin-left -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-1">  <!-- ms stands for margin-start -->
          <li class="nav-item">
            <a class="nav-link" routerLink="home" data-text="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="web-projects" data-text="We Projects">Web Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="game-projects" data-text="Game Projects">Game Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ui-projects" data-text="UI Projects">UI Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="artworks" data-text="Artworks">Artworks</a>
          </li>
        </ul>

        <form class="d-flex" role="search">
          <input class="form-control form-control-sm me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
