/* GENERAL */
* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* DESKTOP NAV */
nav, .nav-links {
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  position: fixed;  
  top: 0;           
  width: 100%;      
  z-index: 1000;    
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7.5px);
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  position: relative;
}
a::before {
  content: '';
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;                   
  background-color: blue;       
  transition: width 0.5s ease;    
  border-radius: 50px;
}
a:hover {
  color: blue;
} 
a:hover::before {
  width: 100%;                    
}

.logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 250%;
  text-shadow: 15px 10px 5px rgba(0, 0, 0, 0.5);
}


/* HAMBURGER MENU FOR MOBILE & TABLET */
#hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: relative;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}
.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  width: 1000%;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7.5px);
}
.menu-links.open {
  max-height: 3000px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7.5px);
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* RESPNSIVE FOR HD RESOLUTION */
@media screen and (max-width: 1280px) {
  nav {
    justify-content: space-around;
    align-items: center;
    height: 7.5vh;
    position: fixed;  
    top: 0;           
    width: 75%;
  }

  .logo {
    font-size: 150%;
  }
  
  .nav-links {
    font-size: 100%;
    gap: 1.25rem;
  }
}
  