section {
    height: fit-content;
    margin: 0 10vh;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    text-align: center;
    font-size: large;
    transform: scaleY(1.75);
}

p {
    text-align: center;
    margin-top: 2.5%;
}


