<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

<div class="footer_icon">
    <a href="https://www.facebook.com/profile.php?id=100030823129717"> <i class="fa-brands fa-square-facebook"></i> </a>
    <a href="https://www.linkedin.com/in/tuan-tran-82371a257/"> <i class="fa-brands fa-linkedin "></i> </a>
    <a href="https://github.com/tuantranquang0607"> <i class="fa-brands fa-square-github"></i> </a>
    <a href="mailto:tuan.tran6703@gmail.com"> <i class="fa-solid fa-envelope"></i> </a>
</div>
