<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-icons/5.13.0/css/simple-icons.min.css" />

<script defer src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<footer>
    <div class="donation-qr-code">
        <img class="paypal-qr" src="../../assets/images/paypal-qr.jpg" alt="an xin online qua PayPal" height="10%" width="10%">
        <img class="acb-qr" src="../../assets/images/acb-qr.jpg" alt="an xin online qua ACB" height="10%" width="10%">
    </div>

    <div class="footer_icon">
        <a href="https://www.linkedin.com/in/tuan-tran-82371a257/" alt="My only LinkedIn profile"> <i class="fab fa-linkedin"></i> </a>
        <a href="https://github.com/tuantranquang0607" alt="My only GitHub account"> <i class="fab fa-github-square"></i> </a>
        <a href="mailto:tuan.tran6703@gmail.com" alt="My working email address"> <i class="fa-solid fa-square-envelope"></i> </a>
        <a href="https://www.facebook.com/profile.php?id=100030823129717" alt="My only Facebook account"> <i class="fab fa-facebook-square"></i> </a>
    </div>

    <div class="copyright">
        Copyright © 2023. All Rights Reserved.
    </div>

    <p>Feel free to donate to me via the provided QR codes.</p>
</footer>
