.paypal-qr {
    float: left;
    height: 150px;
    width: 150px;
}
.acb-qr {
    float: right;
    height: 150px;
    width: 150px;
}

.footer_icon {
text-align: center;
}

.footer_icon a {
display: inline-block;
margin: 0 2.5px;
}
.footer_icon i {
    letter-spacing: 7.5px;
    font-size: 50px;
    color: black;
}
.footer_icon i:hover {
    color: blue;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-style: italic;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* This is for mobile */
@media (max-width: 430px) {
    .footer_icon {
        margin-top: 1%;
    }
    .footer_icon i {
        font-size: 30px;
    }

    .copyright {
        font-size: 65%;
    }

    .paypal-qr {
        float: left;
        height: 20%;
        width: 20%;
    }
    .acb-qr {
        float: right;
        height: 20%;
        width: 20%;
    }

    p {
        font-size: 50%;
        margin-bottom: 0;
    }
}

/* This is for tablet */
@media (max-width: 1024px) {
    .footer_icon {
        margin-top: 0.5%;
    }
    .footer_icon i {
        font-size: 40px;
    }

    .paypal-qr {
        float: left;
        height: 25%;
        width: 25%;
    }
    .acb-qr {
        float: right;
        height: 25%;
        width: 25%;
    }
}

/* RESPNSIVE FOR FullHD RESOLUTION */
@media screen and (max-width: 1920px) {
    .paypal-qr {
        
    }
    
    .acb-qr {
        
    }
    
    .footer_icon i {
        
    }
    .footer_icon i:hover {
        
    }
}

/* RESPNSIVE FOR QuadHD RESOLUTION */
@media screen and (max-width: 2560px) {
    
}