<footer>
    <div class="donation-qr-code">
        <img class="paypal-qr" src="../../assets/images/paypal-qr.jpg" alt="an xin online qua PayPal">
        <img class="acb-qr" src="../../assets/images/acb-qr.jpg" alt="an xin online qua ACB">
    </div>

    <div class="footer_icon">
        <a href="https://www.linkedin.com/in/tuan-tran-82371a257/" alt="My only LinkedIn profile"> <i class="fab fa-linkedin"></i> </a>
        <a href="https://github.com/tuantranquang0607" alt="My only GitHub account"> <i class="fab fa-github-square"></i> </a>
        <a href="mailto:tuan.tran6703@gmail.com" alt="My working email address"> <i class="fa-solid fa-square-envelope"></i> </a>
        <a href="https://www.facebook.com/profile.php?id=100030823129717" alt="My only Facebook account"> <i class="fab fa-facebook-square"></i> </a>
    </div>

    <div class="copyright">
        Copyright © 2023. All Rights Reserved.
    </div>

    <p>Feel free to donate to me via the provided QR codes<br>and contact me via email.</p>
</footer>
