.paypal-qr {
    float: left;
    height: 150px;
    width: 150px;
}
.acb-qr {
    float: right;
    height: 150px;
    width: 150px;
}

.footer_icon {
text-align: center;
}

.footer_icon a {
display: inline-block;
margin: 0 2.5px;
}
.footer_icon i {
    letter-spacing: 7.5px;
    font-size: 50px;
    color: black;
}
.footer_icon i:hover {
    color: blue;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-style: italic;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

