@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* .donation-qr-code {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0.25%;
} */

.paypal-qr {
    float: left;
}

.acb-qr {
    float: right;
}

.footer_icon {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 0.25%;
}
.footer_icon i {
    letter-spacing: 7.5px;
    font-size: 50px;
    color: black;
}
.footer_icon i:hover {
    color: blue;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This is for tablet */
@media (width < 769px) {
    .footer_icon {
        margin-top: 0.5%;
    }
    .footer_icon i {
        font-size: 40px;
    }

    .paypal-qr {
        float: left;
        height: 25%;
        width: 25%;
    }
    .acb-qr {
        float: right;
        height: 25%;
        width: 25%;
    }
}

/* This is for mobile */
@media (width < 426px) {
    .footer_icon {
        margin-top: 1%;
    }
    .footer_icon i {
        font-size: 30px;
    }

    .copyright {
        font-size: 65%;
    }

    .paypal-qr {
        float: left;
        height: 20%;
        width: 20%;
    }
    .acb-qr {
        float: right;
        height: 20%;
        width: 20%;
    }

    p {
        font-size: 50%;
    }
}