section {
    height: fit-content;
    margin: 0 10vh;
    margin-top: 6.5%;
    margin-bottom: 6.5%;
    font-family: 'Delicious Handrawn', cursive;
}

h1 {
    align-items: center;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 2.5%;
    font-size: 200%;
}