/* You can add global styles to this file, and also import other style files */
body {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}