@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.arrow {
  position: absolute;
  right: 40.5rem;
  bottom: -2rem;
}

.icon {
  cursor: pointer;
  height: 4rem;
  margin-top: 20px;
}

section {
  padding-top: 4vh;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container {
  display: flex;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* PROFILE SECTION */
#profile {
  justify-content: center;
  position: relative;
  margin-top: 12.5%;
  padding-top: 0;
  height: 72.5vh;
}

.socials-container {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.profile__pic-container{
  margin-left: 10%;
  float: left;
}
.profile__pic-container img {
  animation: pulse 2s infinite;
  width: 500px;
  height: 500px;
}

.speaker {
  background-color: transparent;
  border: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 4, 255, 0.7);
  }
  25% {
      box-shadow: 0 0 0 25px rgba(65, 68, 255, 0)
  }
  50% {
      box-shadow: 0 0 0 50px rgba(124, 132, 255, 0);
  }
  75% {
    box-shadow: 0 0 0 75px rgba(191, 195, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
}

.profile__text {
  padding-top: 5%;
  align-self: center;
  text-align: center;
}
.profile__text p {
  font-weight: 500;
}
.profile__text__p1 {
  text-align: center;
  font-size: 300%;
}
.profile__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 110%;
}

.name {
  font-family: 'Merriweather', serif;
  font-size: 150%;
  color: blue;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
}
.btn-color-1 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(0, 0, 255);
}
.btn-color-2:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ABOUT SECTION */
#about {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 7.5rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}
.about__pic-container {
  display: flex;
  float: left;
  margin-right: 2.5%;
  border-radius: 2rem;
}
.about__pic-container img {
  width: 300px;
  height: 450px;
}
.about-pic {
  border-radius: 15px;
  box-shadow: rgb(59, 59, 59) 15px 5px 25px;
}
.about-details-container {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  font-size: 16.25px;
}
.about-containers, .about-details-container {
  display: flex;
}
.about_text {
  text-align: center;
  justify-content: center;
  font-size: 110%;
}

.text-container-1 {
  font-size: 110%;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-bottom: 0; 
}
.text-container-2 {
  font-size: 110%;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-top: 0;
}

.about_title {
  font-size: 350%;
  text-align: center;
  justify-content: center;
  margin-bottom: 1%;
}

.images-of-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-of-languages img {
  height: 50px;
  width: 50px;
  margin: 0 10px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* PROJECTS SECTION */
#projects {
  position: relative;
  padding-top: 7.5%;
}

.projects_title {
  text-align: center;
  justify-content: center;
  margin-bottom: 2.5%;
  font-size: 350%;
}

.projects__text {
  text-align: center;
  justify-content: center;
  font-size: 110%;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.web-projects-title {
  margin-top: 0.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ff7b00;
}
.game-projects-title {
  margin-top: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 137.5%;
  color: #e74c3c;
}
.ui-projects-title {
  margin-top: 0.5rem;
  font-family: 'Pacifico', cursive;
  color: #27ae60;
}
.artworks-title {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 250%;
  color: #8e44ad;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.projects-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.details-container {
  width: 350px;
  text-align: center;
  margin-bottom: 20px; 
}

.article-container {
  border-radius: 15px;
  overflow: hidden;
}
.article-container:hover img {
  width: 350px; 
  height: 550px; 
}
.article-container:hover h2 {
  font-size: 120%; 
}
.article-container img, .article-container h2 {
  transition: width 0.25s ease, height 0.25s ease, font-size 0.25s ease; 
  transition: all 0.25s ease-in-out;
}
.article-container img:hover {
  transform: scale(1.5);
}

.about-containers {
  gap: 3%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  position: relative;
  padding: 0;
  padding-bottom: 50px;
}
#contact form {
  width: 50%;
}

.conatct__text {
  text-align: center;
  justify-content: center;
  font-size: 350%;
}

.input-group {
  margin-bottom: 25px;
  position: relative;
  
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid black;
  color: black;
  background: transparent;
  font-size: 15px;
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  top: -35px;
  border-radius: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.25s;
}

.button {
  color: black;
  outline: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.button button {
  flex-basis: 48%;
  background: black;
  color: white;
  border-radius: 12.5px;
  font-size: 150%;
  text-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a, 0 0 20px #00ff2a;
  box-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a, 0 0 20px #00ff2a, inset 0 0 5px #00ff2a, inset 0 0 10px #00ff2a, inset 0 0 15px #00ff2a, inset 0 0 20px #00ff2a;
  border: solid 2px black;
  position: relative;
}
.button button:after {
  content: "";
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #00ff2a);
  transform: perspective(2.5em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
}
.button button:hover {
  background-image: linear-gradient(0deg,rgb(3, 39, 1), rgb(0, 102, 22), rgb(0, 182, 9), rgb(0, 255, 42));
  color: white;
  border: none;
}
.button button[type="reset"] {
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, inset 0 0 5px #ff0000, inset 0 0 10px #ff0000, inset 0 0 15px #ff0000, inset 0 0 20px #ff0000;
}
.button button[type="reset"]:after {
  background: linear-gradient(0deg, transparent, #ff0000);
}
.button button[type="reset"]:hover {
  background-image: linear-gradient(0deg,rgb(46, 1, 1), rgb(105, 0, 0), rgb(156, 0, 0), rgb(255, 0, 0)); 
  color: white;
  border: none;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* RESPNSIVE FOR HD RESOLUTION */
@media screen and (max-width: 1280px) {
  #profile {
    margin-top: 15rem;
    margin-right: 20%;
    margin-left: 10%;
  }
  
  .profile__pic-container {
    margin-left: 0;
  }
  .profile__pic-container img {
    width: 300px;
    height: 300px;
  }

  .profile__text {
    padding-top: 0;
  }
  .profile__text__p1 {
    font-size: 150%;
  }
  .profile__text__p2 {
    font-size: 125%;
  }

  .about__pic-container img {
    width: 150px;
    height: 350px;
  }
}