<!-- <p>home works!</p> -->

<section class="home">
    <img src="../../assets/images/minimal-wallpaper.jpg">
    
    <div class="homeContent">
        <h1 class="introduction">
          Hi👋, I'm <span class="name">Tuan</span>(/tʊʌn/), <br>
          <p class="loopBackText">who's trying to be <span class="text"></span></p>
        </h1>
        <a href="#" class="btn btn-lg btn-light">More</a> 
    </div>
</section>

<!-- Introduce about myself -->
<!-- <div class="heading-1">
    <header>
      <h1>About me 👇🏻</h1>
    </header>
</div>

<div id="home-page-2">
    <p class="paragraph-1">
      Born in a vibrant and bustling city on the northeastern edge of the Pacific Ocean, 
      I am Quang Tuan Tran—Tuan being my first name, Quang my middle name, and Tran my last name. 
      In the spirit of 'When in Rome, do as the Romans do,' I embraced the name Thomas, inspired by the inventor of Thomas Edison. 
      Thriving in my city of origin, I embarked on a transformative journey to Canada, driven by the ambition to pursue my dreams. 
      Throughout my academic tenure at NBCC, I meticulously honed my skills in a diverse array of programming languages and frameworks, 
      including C++, HTML, CSS, Java, JavaScript, TypeScript, Angular, and more.</p>
    
</div> -->
  
<!-- Introduce about my website -->
<!-- <div>
    <header class="heading-2">
      <h1>About this website 👇🏻</h1>
    </header>
</div>
<div id="home-page-3">
    <p>
      This website marks the inception of my inaugural personal portfolio project, serving as a repository for showcasing my work and sharing valuable insights. 
      Leveraging the open-source Angular framework, complemented by HTML, CSS, JavaScript, and TypeScript, I have crafted and deployed this site seamlessly through Netlify. 
      The journey of this project has been an invaluable long learning experience, presenting an array of challenges that have not only honed my debugging skills but also enriched my knowledge base. 
      As a developer, these encounters have significantly elevated my problem-solving abilities, underscoring the dynamic and evolving nature of web development.
    </p>
</div> -->


