@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  margin: 0 5rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* PROFILE SECTION */
#profile {
  justify-content: center;
  position: relative;
  margin-top: 12.5%;
  height: 68vh;
}

.profile__pic-container{
  margin-left: 5%;
  float: left;
}
.profile__pic-container img {
  animation: pulse 2.5s infinite;
  width: 550px;
  height: 550px;
  border-radius: 50%;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 4, 255, 0.7);
  }
  25% {
      box-shadow: 0 0 0 25px rgba(65, 68, 255, 0)
  }
  50% {
      box-shadow: 0 0 0 50px rgba(124, 132, 255, 0);
  }
  75% {
    box-shadow: 0 0 0 75px rgba(191, 195, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0);
  }
}

.name {
  font-family: 'Merriweather', serif;
  font-size: 150%;
  color: blue;
}

.speaker {
  background-color: transparent;
  border: none;
}

.profile__text {
  padding-top: 7.5%;
  align-self: center;
  text-align: center;
}
.profile__text__p1 {
  text-align: center;
  font-size: 200%;
  font-weight: 500;
}
.profile__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-weight: 400;
}

.text {
  font-size: 115%;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  border-radius: 2rem;
}
.btn-color-1 {
  font-size: 17.5px;
  border: black 0.25rem solid;
}
.btn-color-2 {
  font-size: 20px;
  border: black 0.25rem solid;
}
.btn-color-1:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}
.btn-color-2:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

.socials-container {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.icon {
  cursor: pointer;
  height: 4.5rem;
  margin-top: 20px;
}
.icon-arrow-1 {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 47.5%;
  margin-top: 0.25%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ABOUT SECTION */
#about {
  position: relative;
  margin-bottom: 7.5rem;
  padding-top: 5.5rem;
}

.about_text {
  text-align: center;
  justify-content: center;
  font-size: 17.5px;
}
.about_title {
  font-size: 60px;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.5%;
}
.about-containers {
  margin-bottom: 2rem;
}
.about__pic-container {
  display: flex;
  float: left;
  margin-right: 2.5%;
  border-radius: 2rem;
}
.about__pic-container img {
  width: 300px;
  height: 475px;
}
.about-pic {
  border-radius: 15px;
  box-shadow: rgb(59, 59, 59) 15px 5px 25px;
}
.about-details-container {
  justify-content: center;
  flex-direction: column;
  font-size: 16.25px;
}
.about-containers, .about-details-container {
  display: flex;
}

.text-container-1 {
  font-size: 20px;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-bottom: -1.5rem;
}
.text-container-2 {
  font-size: 20px;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-bottom: 0.25%;
}

.images-of-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-of-languages img {
  height: 45px;
  width: 45px;
  margin: 5px 10px;
}

.icon-arrow-2 {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 47.5%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* PROJECTS SECTION */
#projects {
  position: relative;
  padding-top: 5.75%;
  /* height: 97.5vh; */
}

.projects_title {
  text-align: center;
  justify-content: center;
  margin-bottom: 0.75%;
  font-size: 60px;
}
.projects__text {
  text-align: center;
  justify-content: center;
  font-size: 17.5px;
}
.projects-containers {
  display: flex;
  justify-content: space-between;
}

.details-container {
  text-align: center;
}
.details-container:hover img {
  transform: scale(2.5);
}

.article-container {
  overflow: hidden;
  border-radius: 15px;
}
.article-container img {
  transition: transform 0.25s ease-in-out;
}

.web-projects-title {
  margin-top: 0.5rem;
  font-family: 'Montserrat Alternates', sans-serif;
}
.game-projects-title {
  margin-top: 1rem;
  font-family: 'Press Start 2P', cursive;
  font-size: 137.5%;
}
.ui-projects-title {
  margin-top: 0.5rem;
  font-family: 'Pacifico', cursive;
}
.artworks-title {
  font-family: 'Delicious Handrawn', cursive;
  font-size: 250%;
}

.web-projects-img,
.game-projects-img,
.ui-projects-img,
.artworks-img {
  width: 325px;
  height: 600px;
  border-radius: 15px;
}

.icon-arrow-3 {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-left: 47.5%;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 80vh; */
  position: relative;
  margin-top: 75px;
}
#contact form {
  width: 50%;
}
#contact p {
  font-size: 17.5px;
}

.contact__text {
  text-align: center;
  justify-content: center;
  font-size: 60px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row .input-group {
  flex-basis: 48%;
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid black;
  color: black;
  background: transparent;
  font-size: 20px;
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  top: -40px;
  border-radius: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12.5px;
  color: black;
  cursor: text;
  transition: 0.25s;
  font-size: 17.5px;
}

.button {
  color: black;
  outline: none;
  background: transparent;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.button button {
  flex-basis: 48%;
  background: black;
  color: white;
  border-radius: 12.5px;
  font-size: 150%;
  text-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a, 0 0 20px #00ff2a;
  box-shadow: 0 0 5px #00ff2a, 0 0 10px #00ff2a, 0 0 15px #00ff2a, 0 0 20px #00ff2a, inset 0 0 5px #00ff2a, inset 0 0 10px #00ff2a, inset 0 0 15px #00ff2a, inset 0 0 20px #00ff2a;
  border: solid 2px black;
  position: relative;
}
.button button:after {
  content: "";
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  height: 125%;
  background: linear-gradient(0deg, transparent, #00ff2a);
  transform: perspective(5em) rotateX(45deg) scale(1, 0.35);
  filter: blur(1em);
}
.button button:hover {
  background-image: linear-gradient(0deg,rgb(3, 39, 1), rgb(0, 102, 22), rgb(0, 182, 9), rgb(0, 255, 42));
  color: white;
  border: none;
}
.button button[type="reset"] {
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000;
  box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, inset 0 0 5px #ff0000, inset 0 0 10px #ff0000, inset 0 0 15px #ff0000, inset 0 0 20px #ff0000;
}
.button button[type="reset"]:after {
  background: linear-gradient(0deg, transparent, #ff0000);
}
.button button[type="reset"]:hover {
  background-image: linear-gradient(0deg,rgb(46, 1, 1), rgb(105, 0, 0), rgb(156, 0, 0), rgb(255, 0, 0)); 
  color: white;
  border: none;
}

.icon-arrow-4 {
  cursor: pointer;
  height: 70px;
  width: 70px;
  margin-top: 1%;
}

p {
  margin-bottom: 7.5px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVENESS FOR MOBILE */
@media (max-width: 435px) {
  /* PROFILE SECTION */
  .profile__pic-container img {
    width: 300px;
    height: 300px;
  }

  /* PROJECTS SECTION */
  .projects-containers {
    display: block;
  }

  .web-projects-img,
  .game-projects-img,
  .ui-projects-img,
  .artworks-img {
    width: 125px;
    height: 200px;
    border-radius: 15px;
  }
}


