/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import '~@fortawesome/fontawesome-free/css/all.css';


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* SECTIONS */
section {
  padding-top: 4vh;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.section-container {
  display: flex;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* PROFILE SECTION */
#profile {
  /* display: flex; */
  justify-content: center;
  gap: 5rem;
  /* height: 80vh; */
  position: relative;
  margin-top: 15%;
  /* margin-bottom: 0;
  padding-bottom: 0; */
  padding-top: 0;
  height: 70vh;
}

#socials-container {
  gap: 10px;
  display: flex;
  justify-content: center;
}

.profile__pic-container-1 {
  margin-left: 10%;
  float: left;
}

.profile__text {
  align-self: center;
  text-align: center;
}
.profile__text p {
  font-weight: 600;
}
.profile__text__p1 {
  text-align: center;
  font-size: 300%;
}
.profile__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 110%;
}

.name {
  font-size: 150%;
  color: blue;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 2.5%;
}
.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  /* width: 8rem; */
  border-radius: 2rem;
}
.btn-color-1 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}
.btn-color-2:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ICONS */
.icon {
  cursor: pointer;
  height: 4rem;
  margin-top: 20px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ABOUT SECTION */
#about {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 10rem;
}

.about__pic-container {
  display: flex;
  float: left;
  margin-right: 5%;
  border-radius: 2rem;
}
.about-pic {
  border-radius: 2rem;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-details-container {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  font-size: 16.25px;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about__text__p1 {
  text-align: center;
  justify-content: center;
  font-size: 125%;
}

.text-container-1 {
  font-size: 125%;
  text-align: justify;
  text-justify: distribute-all-lines;
  margin-top: 2.5%;
}
.text-container-2 {
  font-size: 125%;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.section-container {
  gap: 4rem;
  /* height: 50%; */
}

.about_title {
  font-size: 350%;
  text-align: center;
  justify-content: center;
  margin-bottom: 2.5%;
}

.images-of-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.images-of-languages img {
  height: 50px;
  width: 50px;
  margin: 10px; /* Adjust the margin as needed for spacing */
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* PROJECTS SECTION */
#projects {
  position: relative;
  padding-top: 10rem;
}

.projects_title {
  text-align: center;
  justify-content: center;
  margin-bottom: 2.5%;
  font-size: 350%;
}

.projects__text {
  text-align: center;
  justify-content: center;
  font-size: 125%;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.projects-container {
  display: flex;
  justify-content: space-between; /* Adjust this property for different spacing */
  flex-wrap: wrap;
}

.details-container {
  width: 350px;
  text-align: center;
  margin-bottom: 20px; /* Adjust this property for different vertical spacing */
}

.article-container {
  border-radius: 15px;
  overflow: hidden;
}

.about-containers {
  gap: 3%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* CONTACT */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  position: relative;
  padding: 0;
  padding-bottom: 50px;
}
#contact form {
  width: 50%;
}

.conatct__text {
  text-align: center;
  justify-content: center;
  font-size: 350%;
}

.input-group {
  margin-bottom: 25px;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 2px solid black;
  color: black;
  background: transparent;
  font-size: 15px;
}
input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
  top: -35px;
  border-radius: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
  transition: 0.25s;
}

.button {
  /* padding: 10px 0; */
  color: black;
  outline: none;
  /* border: 1px solid black; */
  background: transparent;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.button button {
  flex-basis: 48%;
  background: transparent;
  border-radius: 12.5px;
  font-size: 150%;
}
.button button:hover {
  background-image: linear-gradient(0deg,rgb(3, 39, 1), rgb(0, 102, 22), rgb(0, 182, 9), rgb(0, 255, 42));
  color: white;
}
.button button[type="reset"]:hover {
  background-image: linear-gradient(0deg,rgb(46, 1, 1), rgb(105, 0, 0), rgb(156, 0, 0), rgb(255, 0, 0)); 
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}
.row .input-group {
  flex-basis: 48%;
  border-radius: 15px;
}


@media screen and (max-width: 1400px) {
#profile {
    height: 83vh;
    margin-bottom: 6rem;
}
.about-containers {
    flex-wrap: wrap;
}
#contact,
#projects {
    height: fit-content;
}
}

@media screen and (max-width: 1200px) {
#desktop-nav {
    display: none;
}
#hamburger-nav {
    display: flex;
}
#experience,
.experience-details-container {
    margin-top: 2rem;
}
#profile,
.section-container {
    display: block;
}
.arrow {
    display: none;
}
section,
.section-container {
    height: fit-content;
}
section {
    margin: 0 5%;
}
.section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
}
.about-containers {
    margin-top: 0;
}
}

@media screen and (max-width: 600px) {
#contact,
footer {
    height: 40vh;
}
#profile {
    height: 83vh;
    margin-bottom: 0;
}
article {
    font-size: 1rem;
}
footer nav {
    height: fit-content;
    margin-bottom: 2rem;
}
.about-containers,
.contact-info-upper-container,
.btn-container {
    flex-wrap: wrap;
}
.contact-info-container {
    margin: 0;
}
.contact-info-container p,
.nav-links li a {
    font-size: 1rem;
}
.experience-sub-title {
    font-size: 1.25rem;
}
.logo {
    font-size: 1.5rem;
}
.nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
}
.section__text__p2 {
    font-size: 1.25rem;
}
.title {
    font-size: 2rem;
}
.text-container {
    text-align: justify;
}
}
  