<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
<script defer src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>

<!-- Introduction container -->
<section id="profile">
  <div class="profile__pic-container-1">
    <img src="../../assets/images/right-face-selfie.jpg" 
    alt="Q. Tuan Tran profile picture" 
    style="border-radius: 50%;" 
    width="550px" height="550px"/>
  </div>

  <div class="profile__text">
    <p class="profile__text__p1">Hi👋, I'm <br> <span class="name">Tuan</span>(/tʊʌn/)😊,</p>
    <p class="profile__text__p2">who's trying to be <span class="text"></span></p>

    <div class="btn-container">
      <button
        class="btn btn-color-2"
        onclick="window.open('../../assets/images/Tuan Tran - Resume.pdf')"
      >Download resume
      </button>

      <button class="btn btn-color-1" onclick="location.href='./#contact'">
        Contact Infomation
      </button>
    </div>

    <div id="socials-container">
      <img
        src="../../assets/images/linkedin.png"
        alt="My LinkedIn profile"
        class="icon"
        onclick="location.href='https://www.linkedin.com/in/tuan-tran-82371a257/'"
      />
      <img
        src="../../assets/images/github.png"
        alt="My Github profile"
        class="icon"
        onclick="location.href='https://github.com/tuantranquang0607'"
      />
      <img
        src="../../assets/images/facebook.png"
        alt="My Facebook profile"
        class="icon"
        onclick="location.href='https://www.facebook.com/profile.php?id=100030823129717'"
      />
      <img
        src="../../assets/images/email.png"
        alt="My Email"
        class="icon"
        onclick="location.href='mailto:tuan.tran6703@gmail.com'"
      />
    </div>
  </div>

  <img
    src="../../assets/images/down-arrow.png"
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#about'"
  />
</section>

<!-- About container -->
<section id="about">
  <p class="about__text__p1">Get To Know More</p>

  <h1 class="about_title">About Me</h1>

  <div class="about-container">
    <div class="about__pic-container">
      <img
        src="../../assets/images/cool-selfie.jpg"
        alt="Profile picture"
        class="about-pic"
        width="400px" height="600px"
      />
    </div>

    <div class="about-details-container">
      <div class="text-container-1">
        <p>
          Born in a vibrant and bustling city on the northeastern edge of the Pacific Ocean, 
        I am Quang Tuan Tran—Tuan being my first name, Quang my middle name, and Tran my last name. 
        In the spirit of 'When in Rome, do as the Romans do,' I embraced the name Thomas, inspired by the inventor of Thomas Edison. 
        Thriving in my city of origin, I embarked on a transformative journey to Canada, driven by the ambition to pursue my dreams. 
        Throughout my academic tenure at NBCC, I meticulously honed my skills in a diverse array of programming languages and frameworks.
        </p>
      </div>
      <br>
      <div class="images-of-languages">
        <img src="../../assets/images/html-logo.png" height="50px" width="50px">
        <img src="../../assets/images/css-logo.png" height="50px" width="50px">
        <img src="../../assets/images/javascript-logo.png" height="50px" width="50px">
        <img src="../../assets/images/jquery-logo.png" height="50px" width="50px">
        <img src="../../assets/images/typescript-logo.png" height="50px" width="50px">
        <img src="../../assets/images/angular-logo.png" height="50px" width="50px">
        <img src="../../assets/images/nodejs-logo.png" height="50px" width="50px">
        <img src="../../assets/images/expressjs-logo.png" height="50px" width="50px">
        <img src="../../assets/images/json-logo.png" height="50px" width="50px">
        <img src="../../assets/images/mongodb-logo.png" height="50px" width="50px">
        <img src="../../assets/images/mongoose-logo.png" height="50px" width="50px">
        <img src="../../assets/images/restapi-logo.png" height="50px" width="50px">
        <img src="../../assets/images/react-logo.png" height="50px" width="50px">
        <img src="../../assets/images/c++-logo.png" height="50px" width="50px">
        <img src="../../assets/images/java-logo.png" height="50px" width="50px">
        <img src="../../assets/images/selenium-logo.png" height="50px" width="50px">
        <img src="../../assets/images/msqls-logo.png" height="50px" width="50px">
        <img src="../../assets/images/figma-logo.png" height="50px" width="50px">
        <img src="../../assets/images/procreate-logo.png" height="50px" width="50px">
      </div>
      <br>
      <p class="text-container-2">
        This website marks the inception of my inaugural personal portfolio project, serving as a repository for showcasing my work and sharing valuable insights. 
        Leveraging the open-source Angular framework, complemented by HTML, CSS, JavaScript, and TypeScript, I have crafted and deployed this site seamlessly through Netlify. 
        The journey of this project has been an invaluable long learning experience, presenting an array of challenges that have not only honed my debugging skills but also enriched my knowledge base. 
        As a developer, these encounters have significantly elevated my problem-solving abilities, underscoring the dynamic and evolving nature of web development.
      </p>
    </div>
  </div>

  <img
    src="../../assets/images/down-arrow.png"
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#projects'"
  />
</section>

<!-- Projects container -->
<section id="projects">
  <p class="projects__text">Browse my</p>
  <h1 class="projects_title">Projects</h1>

  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container color-container">
        <div class="article-container">
          <a href="web-projects">
            <img
            src="../../assets/images/web-projects.jpg"
            alt="Web Projects"
            class="web-projects-img"
            height="500px"
            width="350px"
            style="border-radius: 15px;"
          />
          </a>
        </div>

        <h2 class="experience-sub-title project-title">Web Projects</h2>
      </div>

      <div class="details-container color-container">
        <div class="article-container">
          <a href="game-projects">
            <img
            src="../../assets/images/game-projects.jpg"
            alt="Game Projects"
            class="game-projects-img"
            height="500px"
            width="350px"
            style="border-radius: 15px;"
          />
          </a>
        </div>

        <h2 class="experience-sub-title project-title">Games Projects</h2>
      </div>

      <div class="details-container color-container">
        <div class="article-container">
          <a href="ui-projects">
            <img
            src="../../assets/images/ui-projects.jpg"
            alt="UI Projects"
            class="ui-projects-img"
            height="500px"
            width="350px"
            style="border-radius: 15px;"
          />
          </a>
        </div>

        <h2 class="experience-sub-title project-title">Game Projects</h2>
      </div>

      <div class="details-container color-container">
        <div class="article-container">
          <a href="artworks">
            <img
            src="../../assets/images/artworks.jpg"
            alt="Artworks"
            class="artworks-img"
            height="500px"
            width="350px"
            style="border-radius: 15px;"
          />
          </a>
        </div>

        <h2 class="experience-sub-title project-title">Artworks</h2>
      </div>
    </div>
  </div>

  <img
    src="../../assets/images/down-arrow.png"
    alt="Arrow icon"
    class="icon arrow"
    onclick="location.href='./#contact'"
  />
</section>

<!-- Contact container -->
<section id="contact">
  <p class="conatct__text">Get in Touch</p> 
  <br>
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm); false" (ngReset)="onClear(contactForm)">
    <div class="row">
      <div class="input-group">
        <input type="text" id="firstName" name="firstName" ngModel required style="border-radius: 12.5px;">
        <label for="firstName" ><i class="fas fa-users"></i> Your first name😊</label>
      </div>
  
      <div class="input-group">
        <input type="text" id="lastName" name="lastName" ngModel required style="border-radius: 12.5px;">
        <label for="lastName"><i class="fas fa-users"></i> Your last name😉</label>
      </div>
    </div>
    
    <div class="input-group">
      <input type="email" id="email" name="email" ngModel required style="border-radius: 12.5px;">
      <label for="email"><i class="fa-solid fa-at"></i> Your email address😚</label>
    </div>
  
    <div class="input-group">
      <textarea id="message" name="message" rows="8" ngModel required style="border-radius: 12.5px;"></textarea>
      <label for="message"><i class="fas fa-comments"></i> What in your mind?🤔</label>
    </div>
  
    <div class="button">
      <button type="submit">Submit <i class="fa-solid fa-paper-plane"></i></button>
      <button type="reset">Clear <i class="fa-sharp fa-solid fa-trash"></i></button>
    </div>
  </form>

  <img
    src="../../assets/images/up-arrow.jpg"
    alt="Arrow icon"
    class="icon arrow"
    (click)="scrollToTop()"
  />
</section>


